<h1>Showing One University</h1>
<h2>Name: <strong>@university.name</strong></h2>
<h3>Name: <strong>@university.principal_first_name</strong></h3>
<h3>Name: <strong>@university.pricinipal_last_name</strong></h3>